.box-individual
{
    color: #ffffff;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 400px;
    width: 30%;
    background-color: #303841;
    text-decoration: none;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    
}

.box-individual.-margin
{
    margin-bottom: 50px;
}

.box-individual .cola
{
    font-size: 20px;
    color: #303841;
    transition: .4s; 
}

.box-individual:hover span
{
    color: rgb(241, 153, 36);
}


