.main-link
{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 25px;
    font-weight: 400;
    padding-bottom: 20px;
    text-shadow: 2px 2px 0 #000;
}

.main-link .contact
{
    margin-left: 20px;
    margin-right: 20px;
    transition: .5s;
}

.main-link .contact:hover
{
    transform: translateY(8px);
}

.main-link .links
{
    margin-right: 6px;
}