.main-contact
{
    text-align: center;
    line-height: 1.4;
}

.main-contact .title
{
    font-size: 65px;
    font-weight: 600;
}

.main-contact .text
{
    font-size: 20px;
    font-weight: 300;
}